header {
  background-color: #333333;
  color: #989898;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h1 {
    display: inline-block;
    margin: 5% ;

  }
}
main {
  padding: 5%;
  background-color: #F2F2F2;
}

